@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0;
    color: #37352F;
  }

  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
  }

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
  td{
    @apply text-center py-4;
  }
  th{
    @apply py-4;
  }
  tbody>tr:nth-child(even){
    @apply bg-neutral-100
  }
  tbody > tr > td >span:nth-child(3){
    @apply bg-yellow-200 p-3;
  }
}

@layer components {
  .display1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px
  }

  .ce-header {
    padding: 4px 0 3px;
  }

  .btn {
    @apply text-neutral-600 font-medium border border-neutral-400 py-1 px-3 rounded-md;
  }
  .active__status{
    @apply bg-green-100 py-1 px-3 uppercase text-xs tracking-widest font-bold text-green-700 rounded-md;
  }
  .paused__status{
    @apply bg-yellow-100 py-1 px-3 uppercase text-xs tracking-widest font-bold text-yellow-700 rounded-md;
  }
  .template-room-card{
    @apply cursor-pointer w-[200px] hover:drop-shadow-lg hover:border bg-white h-[120px] rounded-lg border-2 justify-center items-center flex;
  }
  .sidebar__element{
    @apply relative flex flex-nowrap items-center  justify-between list-none rounded-md font-medium capitalize py-[1px] px-4 cursor-pointer hover:bg-neutral-200;
     
  }
}